.facts {
    text-align: center;
    display: flex;
    flex-direction: column;

}


.facts h1 {
    background: linear-gradient(200deg, #ff005c 0%, #ff9a00 100%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.food {
    border: 2px solid white;
    border-radius: 15px;
    transition: 1s ease;
}

.food:hover {
    transform: scale(1.01);
    border: 2px solid #ff00ff;
}




.food p {
    font-weight: 600;
    margin-bottom: 4rem;
    
}


.music {
    margin-top: 4rem;
    border: 2px solid white;
    border-radius: 15px;
    transition: 1s ease;

}

.music p {
    padding-bottom: 2rem;
    font-weight: 600;

}


.music:hover {
    transform: scale(1.01);
    border: 2px solid #ff00ff;

}


.website {
    margin-top: 4rem;
    border: 2px solid white;
    border-radius: 15px;
    margin-bottom: 4rem;

}

.website b {
    background: linear-gradient(135deg, #00aaff 0%, #0044ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}


